.rule {margin:3px; border: 1px solid white; border-radius: 3px 3px 3px 3px; padding: 2px; position:relative}
.rule:hover {background-color:#EEEEFF; border: 1px solid #E0E0E0; border-radius: 3px 3px 3px 3px;}
.rule .content {float:left; margin-right:110px}
.rule .edit {position:absolute; right:0;}
.rule a:link { color:black; text-decoration:none; margin: 0px 1px 0px 1px }
.rule a:visited { color:black; text-decoration:none; margin: 0px 1px 0px 1px  }
.rule a:hover { color:blue; text-decoration:underline; margin: 0px 1px 0px 1px  }
.rule a:active { color:blue; text-decoration:underline; margin: 0px 1px 0px 1px  }
.move_icon {background-image: url("move.png"); height: 16px; width: 16px; margin: 5px; }

.winlet_drag { margin: 0px; padding: 0px; position: absolute; z-index: 10000}
.winlet_drop { margin: 0px; padding: 0px; height: 10px; background-color: #00ff00; min-width: 10px; width: auto !important; width: 10px;}
.winlet_area { position:relative; top: -17px; left: -17px}
.winlet_area > div.opac {  border-style: dotted; border-width: 1px; position: absolute; background-color: #E3ECFF; height: 100%; width: 100%}
.winlet_area > div.solid {padding: 8px; position: relative}
